* {
    --header-color: #414242;
    --header-text-color: #ffffff;
    --item-hover-color: #f0f0f0;
    --item-hover-text-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

footer {
    background-color: var(--header-color);
    color: var(--header-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100px;
    width: 100%;
    bottom: 0;
}

header {
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    color: var(--header-text-color);
    z-index: 1000;
}

header h1 {
    font-size: 40px;
}

header nav {
    display: flex;
    gap: 25px;
}

header nav a {
    text-decoration: none;
    color: var(--header-text-color);
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 99px;
}

header nav a:hover {
    background-color: var(--item-hover-color);
    color: var(--item-hover-text-color);
}

.home {
    border: none;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px; /
}

.home img, .home h1 {
    position: absolute;
    bottom: -1px;
    width: 100%;
    pointer-events: none;
    border: none;
    min-width: 100%;
    object-fit: cover;
}

.home .title{
    height: calc(100vh - 100px);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transform: translateY(-30%);
}


.home .title h2 {
    font-size: 60px;
}

.home .title h3 {
    font-size: 30px;
}

.about, .place {
    min-height: 100vh;
    padding: 100px 15%; 
    padding: auto;
    background-color: rgb(84,114,71);
    color: white;
    position: relative;
    z-index: 100;
    margin-top: -1px;
}
.about h1,  .place h1 {
    font-size: 50px;
}

.about p,  .place p {
    font-size: 24px;
    margin-top: 30px;
    line-height: 1.6;
    text-align: justify;
    hyphens: auto; 
    text-justify: inter-word;
}

.place {
    background-color: white;
    color: black;
}

.location {
    overflow: hidden;
    height: auto;
    background-color: white;
    padding-top: 200px;
    color: black;
    position: relative;
    z-index: 100;
}

.car{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 100;
}
@media screen and (orientation: portrait) {
    .home {
        height: 80vh; 
    }
    
    .home img {
        height: 50%; 
        bottom: 0;
        object-position: bottom; 
    }

    .about p,  .place p {
        font-size: 18px;
        text-align: left;
    }
}