* {
    --header-color: #414242;
    --header-text-color: #ffffff;
    --item-hover-color: #f0f0f0;
    --item-hover-text-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

footer {
    background-color: var(--header-color);
    color: var(--header-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100px;
    width: 100%;
    bottom: 0;
}

header {
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    color: var(--header-text-color);
}

header h1 {
    font-size: 40px;
}

header nav {
    display: flex;
    gap: 25px;
}

header nav a {
    text-decoration: none;
    color: var(--header-text-color);
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 99px;
}

header nav a:hover {
    background-color: var(--item-hover-color);
    color: var(--item-hover-text-color);
}

.home {
    border: none;
    height: 100vh;
    overflow: hidden;
}

.home img, .home h1 {
    position: absolute;
    bottom: -1px;
    width: 100%;
    pointer-events: none;
    border: none;
}

.home .title{
    position: absolute;
    margin: 0;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .title h2 {
    font-size: 60px;
}

.home .title h3 {
    font-size: 30px;
}

.about, .place {
    min-height: 100vh;
    padding-right: 250px;
    padding-left: 250px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding: auto;
    background-color: rgb(84,114,71);
    color: white;
    position: relative;
    z-index: 100;
}
.about h1,  .place h1 {
    font-size: 50px;
}

.about p,  .place p {
    font-size: 30px;
    margin-top: 20px;
}

.place {
    background-color: white;
    color: black;
}

.location {
    overflow: hidden;
    height: auto;
    background-color: white;
    padding-top: 200px;
    color: black;
    position: relative;
    z-index: 100;
}

.car{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 100;
}
