* {
    --header-color: #414242;
    --header-text-color: #ffffff;
    --item-hover-color: #f0f0f0;
    --item-hover-text-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

footer {
    background-color: var(--header-color);
    color: var(--header-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100px;
    width: 100%;
    bottom: 0;
}

header {
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    color: var(--header-text-color);
    z-index: 1000;
}

header h1 {
    font-size: 2.5rem;
}

header nav {
    display: flex;
    gap: 25px;
}

header nav a {
    text-decoration: none;
    color: var(--header-text-color);
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 99px;
}

header nav a:hover {
    background-color: var(--item-hover-color);
    color: var(--item-hover-text-color);
}

.home {
    border: none;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px; /
}

.home img, .home h1 {
    position: absolute;
    bottom: -1px;
    width: 100%;
    pointer-events: none;
    border: none;
    min-width: 100%;
    object-fit: cover;
}

.home .title{
    height: calc(100vh - 100px);
    height: calc(100vh - 6rem);
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transform: translateY(-30%);
}


.home .title h2 {
    font-size: 3.75rem;
}

.home .title h3 {
    font-size: 1.875rem;
}

.about, .place {
    min-height: 100vh;
    padding: 6rem 15%; 
    padding: auto;
    background-color: rgb(84,114,71);
    color: white;
    position: relative;
    z-index: 100;
    margin-top: -1px;
}
.about h1,  .place h1 {
    font-size: 3.125rem;
}

.about p,  .place p {
    font-size: 1.5rem;
    margin-top: 1.875rem;
    line-height: 1.6;
    text-align: justify;
    hyphens: auto; 
    text-justify: inter-word;
}

.place {
    background-color: white;
    color: black;
}

.location {
    overflow: hidden;
    height: auto;
    background-color: white;
    padding-top: 12.5rem;
    color: black;
    position: relative;
    z-index: 100;
}

.car{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.layer1{
    transform: translateY(15%);
}

@media screen and (orientation: portrait) {
    .home {
        height: 80vh; 
    }

    .home .title h2 {
        font-size: 6rem;
    }
    
    .home .title h3 {
        font-size: 3rem;
    }
    
    .home img {
        height: 50%; 
        bottom: 0;
        object-position: bottom; 
    }

    .about p,  .place p {
        font-size: 1.125rem;
        text-align: left;
    }

    .layer1{
        transform: translateY(-15%);
    }

    .car-container {
        width: 130%; /* Make container bigger than viewport */
        margin-left: -30%; /* Crop left side */
        transform: scale(1.2); /* Zoom in */
        transform-origin: right center; 
        
    }
}